<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>


  <div class="jumbotron">
    <h1 class="display-4">Scott Canfield </h1>
    <p class="lead">CS 3300 Software Engineering</p>
    <hr class="my-4">
    <p>I started at UCCS at the age of 17 back in 2014, I originally pursued a degree in Electrical Engineering. After about a year of that I learned that I did not like circuits one bit! So I swapped to Computer Science! Unfortunately I didn't have a way to pay 
    for school and took a small break, and later joined the Air Force. Now here we are full circle a Senior getting ready to graduate next year! 
    </p>
  </div>

  <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Links</th>
    </tr>
  </thead>

  <body>
    
    <div class="container-fluid" style="background-color: silver;">
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Show', project %></td>
        </tr>
      <% end %>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>

<p id="notice"><%= notice %></p>

