<div class="col d-flex justify-content-center">
  <div class="card bg-warning">
    <div class="card-body">
      <h4 class="card-title"><%= @project.title %></h4>
      <p class="card-text"><%= @project.description %></p>
      <a href="/" class="card-link">Back</a>
      <% if user_signed_in? %>
        <%= link_to 'Edit' , edit_project_path(@project) %> 
      <% end %>
    </div>
</div>

</div>
